{% extends 'base.html.twig' %}

{% block body %}
    <h1>Taches list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Numtache</th>
                <th>Intitule</th>
                <th>Description</th>
                <th>Etat</th>
                <th>Daterendu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tache in taches %}
            <tr>
                <td><a href="{{ path('tache_show', { 'id': tache.id }) }}">{{ tache.id }}</a></td>
                <td>{{ tache.numTache }}</td>
                <td>{{ tache.intitule }}</td>
                <td>{{ tache.description }}</td>
                <td>{{ tache.etat }}</td>
                <td>{% if tache.dateRendu %}{{ tache.dateRendu|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tache_show', { 'id': tache.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('tache_edit', { 'id': tache.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tache_new') }}">Create a new tache</a>
        </li>
    </ul>
{% endblock %}
